@model library_management.Model.Client
@{
    ViewBag.Title = "mainpage";

}
@{
    Layout = "~/Views/Shared/clientlayout.cshtml";
}
<h2>mainpage</h2>

<div>
    <a href="@Url.Action("all_books","Client")">
        <img class="img-circle" src="~/img/92210496_533463050696333_145375060897562624_n.jpg" height="250" width="250" />
    </a>
    &emsp;
    <a href="@Url.Action("MyBooks","Client")">
        <img class="img-circle" src="~/Content/unnamed.png" height="250" width="250" />
    </a>
    &emsp;
    <a href="@Url.Action("myinfo","Client"@*,new { id=Session["u_id"]}*@)">

        <img class="img-circle" src="~/Content/download (1).jpg" height="250" width="250" />
    </a>


</div>
