
@{
    ViewBag.Title = "AdminHomePage";
}



<h1>Admin Page</h1>

<div>
    <a href="@Url.Action("Index_Book","Book")">
        <img class="img-circle" src="~/img/92210496_533463050696333_145375060897562624_n.jpg" height="250" width="250" />
    </a>
    &emsp;
    <a href="@Url.Action("Index_client","Client")">
        <img class="img-circle" src="~/img/92021247_226686981728927_8339513405660463104_n.jpg " height="250" width="250" />
    </a>
    &emsp;
    <a href="@Url.Action("Index_author","author")">

        <img class="img-circle" src="~/img/56248083_593275831186899_5705873441534509056_n.jpg" height="250" width="250" />
    </a>
    &emsp;
    <a href="@Url.Action("Index_category","Category")">
        <img class="img-circle" src="~/img/92173738_2778453685606155_7628030035600867328_n.jpg" height="250" width="250" />
    </a>

</div>


